:root {
    --background: #1A1C23;
    --alert-bkg: #44475a;
    --light: #eeeeee;
    --critical: #ff00ff;
    --danger: #ff0018;
    --caution: #ffe700;
    --ok: #18ff00;
    --indication: #00ffe7;
    font-family: 'B612', sans-serif;
    background-color: var(--background);
    padding: 1% 2%;
}

.mono {
    font-family: 'B612 Mono', monospace;
    font-weight: 600;
}

.dashboard {
    display: inline-flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2em;
    width: 25ex;
    padding: 0.1em;
    line-height: 1.05em;
    text-align: center;
    text-transform: uppercase;
    text-overflow: clip;
    color: var(--background);
    border-top: 0.25em;
    border-bottom: 0.25em;
    border-style: solid;
    border-color: var(--background);
}

.indicator:first-of-type() {
    border-left: 0;
}

.indicator:nth-of-type() {
    border-left: 0.25em;
    border-right: 0.25em;
}

.indicator:first-of-type() {
    border-right: 0;
}

.sts-off {
    background-color: var(--alert-bkg);
}

.sts-critical {
    background-color: var(--critical);
}

.sts-danger {
    background-color: var(--danger);
}

.sts-caution {
    background-color: var(--caution);
}

.sts-indication {
    background-color: var(--indication);
}

.sts-ok {
    background-color: var(--ok);
}

.sts-info {
    background-color: var(--light);
}

.sts-locked {
    color: var(--light);
    background: repeating-linear-gradient(45deg, var(--background), var(--background) 6px, var(--alert-bkg) 6px, var(--alert-bkg) 18px);
}